@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/*noinspection ALL*/
#theme-circle:after {
  content: " ";
  position: absolute;
  border-radius: 50%;
  width: var(--after-width);
  height: var(--after-height);
  box-shadow: 0 0 0 10000px var(--after-color);
}

@theme {
  --color-primary: #166534;
  --color-element: #c6c7c1;
  --color-background: #f4f4f4;
  --color-text: #161616;
  --color-card: #ffffff;
}

.dark {
  --color-primary: #4ade80;
  --color-element: #4c4c4c;
  --color-background: #1e1e1e;
  --color-text: #f5f5f5;
  --color-card: #1e1e1e;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-text m-0 py-5 h-full transition-all duration-300 ease-in-out;
  }
}
